<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Enviar a Mantenimiento</span>
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body" ng-if="alertMant">
                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <thead>
                        <tr>
                            <th>Consecutivo</th>
                            <th>Montacargas</th>
                            <th>Horas</th>
                            <th>Enviar a Mantenimiento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="alertM in alertMant">
                            <td> {{alertM.consecutivo}} </td>
                            <td> {{alertM.montacargas}} </td>
                            <td> {{alertM.horas}} </td>
                            <td>
                                <button class="btn green" ng-click="actEstado1(alertM)">Enviar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-body" ng-if="!alertMant">
                    <div class="center" >
                        <h1>No hay mantenimientos por realizar</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<uib-alert ng-repeat="ale in aler" type="{{ale.type}}" dismiss-on-timeout="5000" close="closeAlert($index)">{{ale.msg}}</uib-alert>