<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div class="panel panel-default">
            <div class="panel-heading">Mantenimiento</div>
            <div class="panel-body" ng-if="mantenimientos">

                <div class="center" >
                    <ul ng-model="alertList">
                        <li ng-repeat="alert in alerts">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {{alert.montacargas}}
                                </div>
                                <div class="panel-body">
                                    
                                </div>
                                
                            </div>                            
                        </li>
                    </ul>
                </div>

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button
                                class="btn green"
                                mwl-confirm
                                title="{{confirmationSettings.title}}"
                                message="{{ confirmationSettings.message}}"
                                confirm-text="{{ confirmationSettings.confirmText}}"
                                cancel-text="{{ confirmationSettings.cancelText}}"
                                placement="{{ confirmationSettings.placement}}"
                                on-confirm="confirmClicked = true"
                                on-cancel="cancelClicked = true"
                                confirm-button-type="success"
                                cancel-button-type="default">
                                Enviar
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-body" ng-if="!mantenimientos">
                <div class="center" >
                    <h1>No hay mantenimientos por realizar</h1>
                </div>
            </div>
            <br>
        </div>
    </body>
</html>