<div class="row" >
    <div class="col-md-2">
        <div class="portlet box">

            <div class="list-group">
                <a  ng-repeat="equipo in listaEquipos" class="list-group-item" ng-click="buscaEquipo(equipo.numero_serie)"><span class="text-center">{{equipo.numero_serie}}</span></a>
            </div>

        </div>
    </div>
    <div class="col-md-9" ng-if="equipo">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="portlet light">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-speech"></i>
                                            <span class="caption-subject bold uppercase"> Basica</span>
                                            <span class="caption-helper"></span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="row">                                          
                                            <div class="col-md-4"> <h5>Numero de serie: </h5> <h4>{{equipo.numero_serie}}</h4> </div>
                                            <div class="col-md-4"> <h4>Marca:   {{equipo.marca}}</h4></div>
                                            <div class="col-md-4"> <h4>Modelo:   {{equipo.modelo}}</h4></div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"> <h4>Tonelaje:   {{equipo.tonelaje}}</h4></div>
                                            <div class="col-md-4"> <h4>Traccion:   {{equipo.traccion}}</h4></div>
                                            <div class="col-md-4"> <h4>Transmision:   {{equipo.transmision}}</h4></div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"> <h4>Numero de motor:   {{equipo.numero_motor}}</h4></div>
                                            <div class="col-md-4"> <h4>Numero de poliza:   {{equipo.num_poliza}}</h4></div>                                          
                                            <div class="col-md-4"> <h4>Año:  {{equipo.anno}}</h4></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"> <h4>VIN:   {{equipo.vin}}</h4></div>
                                            <div class="col-md-4"> <h4>Serie:   {{equipo.serie}}</h4></div>
                                            <div class="col-md-4"> <h4>Ubicacion:   {{equipo.ubicacion}}</h4></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"> <h4>Clase:   {{equipo.clase}}</h4></div>
                                            <div class="col-md-4"> <h4>Placa:   {{equipo.placa}}</h4></div>
                                            <div class="col-md-4"> <h4>Estilo:   {{equipo.estilo}}</h4></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12"> <h4>Observacion:   {{equipo.observacion}}</h4></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="portlet light">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-speech"></i>
                                            <span class="caption-subject bold uppercase"> Proyectos</span>
                                            <span class="caption-helper"></span>
                                        </div>
                                        <div class="inputs">
                                            <div class="portlet-input input-inline input-small">
                                                <div class="input-icon right">
                                                    <i class="icon-magnifier"></i>
                                                    <input type="text" class="form-control input-circle" placeholder="buscar..." ng-model="proyectos.search"> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="scroller" style="height:200px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Codigo</th>
                                                        <th>Nombre</th>
                                                        <th>Contrato</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="proyecto in equipo.proyectos|filter:proyectos.search">
                                                        <td>{{proyecto.codigo}}</td>
                                                        <td>{{proyecto.nombre}}</td>
                                                        <td>{{proyecto.contrato}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-speech"></i>
                                    <span class="caption-subject bold uppercase"> Mantenimientos</span>
                                    <span class="caption-helper"></span>
                                </div>

                            </div>
                            <div class="portlet-body">
                                <uib-accordion class="accordion" close-others='true' ng-if="equipo.mantenimientos.length > 0">
                                    <uib-accordion-group ng-repeat="mantenimiento in equipo.mantenimientos" ng-click="getInsumos(mantenimiento)" is-open="mantenimiento.IsOpened">
                                        <uib-accordion-heading >
                                            <span>
                                                {{mantenimiento.tipo}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': mantenimiento.IsOpened, 'glyphicon-chevron-right': !mantenimiento.IsOpened}"></i>
                                            </span>
                                        </uib-accordion-heading>
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Fecha: </label>
                                                <div class="col-md-4">
                                                    <h4>{{mantenimiento.fecha_mantenimiento}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-fixedheader">
                                            <thead>
                                                <tr>
                                                    <th>Numero de articulo</th>
                                                    <th>Descripcion</th>
                                                    <th>Cantidad</th>
                                                    <th>Precio</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="insumo in mantenimiento.insumos">
                                                    <td>{{insumo.Numero_de_articulo}}</td>
                                                    <td>{{insumo.Descripcion_articulo}}</td>
                                                    <td>{{insumo.Cantidad}}</td>
                                                    <td>{{insumo.Precio}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </uib-accordion-group>
                                </uib-accordion>
                                <h2 ng-if="!equipo.mantenimientos.length > 0">Este equipo no tiene mantenimientos a&uacute;n</h2>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-9" ng-if="!equipo">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-speech"></i>
                            <span class="caption-subject bold uppercase"> Seleccione un equipo</span>
                            <span class="caption-helper">por su numero de serie</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="5000" close="closeAlert($index)">{{alert.msg}}</uib-alert>

