<div class="panel panel-default">
    <div class="panel-body">
        <form class="form">
            <div class="row">
                <div class="col-md-6">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject bold text-center"> Actual</span>
                                <span class="caption-helper"></span>
                            </div>
                        </div>
                        <br>
                        <div class="portlet-body form form-horizontal">

                            <div class="form-group">
                                <label class="col-md-4 control-label">Contrato: </label>
                                <div class="col-md-6">
                                    <ui-select ng-model="viejo.contrato" theme="bootstrap">
                                        <ui-select-match placeholder="Seleccione el contrato">{{$select.selected.nombre}}</ui-select-match>
                                        <ui-select-choices repeat="contrato in listaContratos | filter:$select.search" ng-click="filtraProyectos(viejo.contrato, true)">
                                            {{contrato.nombre}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Proyecto: </label>
                                <div class="col-md-6">
                                    <ui-select ng-model="viejo.proyecto" theme="bootstrap">
                                        <ui-select-match placeholder="Seleccione el proyecto">{{$select.selected.nombre}}</ui-select-match>
                                        <ui-select-choices repeat="proyecto in listaProyectos | filter:$select.search" ng-click="filtraEquipos(viejo.proyecto)">
                                            {{proyecto.nombre}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Montacargas: </label>
                                <div class="col-md-6">
                                    <ui-select ng-model="admi.montacargas" theme="bootstrap" name="montacargas">
                                        <ui-select-match placeholder="Seleccione el equipo">{{$select.selected.numero_serie}}</ui-select-match>
                                        <ui-select-choices group-by="'marca'" repeat="montacargas in listaMontacargas | filter: {'numero_serie':$select.search}">
                                            <div ng-bind-html="montacargas.numero_serie | highlight: $select.search"></div>
                                            <small>
                                                Modelo: <span>{{montacargas.modelo}}</span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>                       
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject bold text-right"> Destino</span>
                                <span class="caption-helper"></span>
                            </div>
                        </div>
                        <br>
                        <div class="portlet-body  form form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Contrato: </label>
                                <div class="col-md-6">
                                    <ui-select ng-model="admi.contrato" theme="bootstrap">
                                        <ui-select-match placeholder="Seleccione el contrato">{{$select.selected.nombre}}</ui-select-match>
                                        <ui-select-choices repeat="contrato in listaContratos | filter:$select.search" ng-click="filtraProyectos(admi.contrato, false)">
                                            {{contrato.nombre}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Proyecto: </label>
                                <div class="col-md-6">
                                    <ui-select ng-model="admi.proyecto" theme="bootstrap">
                                        <ui-select-match placeholder="Seleccione el proyecto">{{$select.selected.nombre}}</ui-select-match>
                                        <ui-select-choices repeat="proyecto in listaProyectos2 | filter:$select.search">
                                            {{proyecto.nombre}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-5 col-md-9">
                        <button
                            class="btn green"
                            mwl-confirm
                            title="{{confirmationSettings.title}}"
                            message="{{ confirmationSettings.message}}"
                            confirm-text="{{ confirmationSettings.confirmText}}"
                            cancel-text="{{ confirmationSettings.cancelText}}"
                            placement="{{ confirmationSettings.placement}}"
                            on-confirm="mueveMontacargas(admi)"
                            on-cancel="cancelClicked = true"
                            confirm-button-type="success"
                            cancel-button-type="default">
                            Enviar
                        </button>

                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


<toaster-container toaster-options="
                   {'time-out':{ 'toast-warning': 10, 'toast-error': 0,'toast-success':8000},
                   'close-button': true,
    'position-class': 'toast-top-right','hideEasing': 'linear'  }">
                       
</toaster-container>
