
<div class="panel panel-default">
    <div class="panel-heading">Contrato </div>
    <div class="panel-body">



        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                <div class="form-body">
                    <div class="form-group" ng-class="{ 'has-error' : userForm.codigo.$invalid && !userForm.codigo.$pristine }">
                        <label class="col-md-4 control-label">Codigo:  
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-4">
                            <input type="text" name="codigo" class="form-control" placeholder="Digite el codigo para el contrato" ng-model="contrato.codigo" required>
                            <p ng-show="userForm.codigo.$invalid && !userForm.codigo.$pristine" class="help-block"> Campo Requerido.</p>
                        </div>                    
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.nombre.$invalid && !userForm.nombre.$pristine }">
                        <label class="col-md-4 control-label">Nombre:  
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-4">
                            <input type="text" name="nombre" class="form-control" placeholder="Digite un nombre para el contrato" required ng-model="contrato.nombre">
                            <p ng-show="userForm.nombre.$invalid && !userForm.nombre.$pristine" class="help-block"> Campo Requerido.</p>
                        </div>                    
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : userForm.fechaI.$invalid && !userForm.fechaI.$pristine }">
                        <label class="control-label col-md-4">Fecha inicio:
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-4">
                            <md-content>
                                <md-datepicker ng-model="contrato.fechaIni" md-placeholder="Desde"
                                               md-min-date="minDate" md-max-date="maxDate" name="fechaI" ng-required></md-datepicker>
                            </md-content>
                            <p ng-show="userForm.fechaI.$invalid && !userForm.fechaI.$pristine" class="help-block"> Campo Requerido.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.fechaF.$invalid && !userForm.fechaF.$pristine }">
                        <label class="control-label col-md-4">Fecha final:
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-4">
                            <md-content>
                                <md-datepicker ng-model="contrato.fechaFinal" md-placeholder="Hasta"
                                               md-min-date="contrato.fechaIni" md-max-date="maxDate" name="fechaI" name="fechaF" ng-required></md-datepicker>
                            </md-content>
                            <p ng-show="userForm.fechaF.$invalid && !userForm.fechaF.$pristine" class="help-block"> Campo Requerido.</p>
                        </div>
                    </div>

                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-5 col-md-9">
                            <button
                                data-placement="top"
                                type="submit"
                                ng-disabled="userForm.$invalid"
                                class="btn green"
                                mwl-confirm
                                title="{{confirmationSettings.title}}"
                                message="{{ confirmationSettings.message}}"
                                confirm-text="{{ confirmationSettings.confirmText}}"
                                cancel-text="{{ confirmationSettings.cancelText}}"
                                placement="{{ confirmationSettings.placement}}"
                                on-confirm="ingresaContrato(contrato)"
                                on-cancel="cancelClicked = true"
                                confirm-button-type="success"
                                cancel-button-type="default">
                                Enviar
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- END FORM-->
        </div>


    </div>
</div>
<toaster-container toaster-options="
                   {'time-out':{ 'toast-warning': 10, 'toast-error': 0,'toast-success':8000},
                   'close-button': true,
                   'position-class': 'toast-top-center' }">

</toaster-container>

