<!--segunda pestaña empieza linea 392-->

<div class="row">
    <div class="col-md-12">

        <div class="tabbable-line">

            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#" data-target="#tab_1_1" data-toggle="tab">Gastos y rentabilidad</a>
                </li>
                <li>
                    <a href="#" data-target="#tab_1_2" data-toggle="tab" ng-click="ocultaTabla()">Gastos detallados</a>
                </li>
            </ul>
        </div>
        <div class="form">

            <form role="form">
                <div class="form-group form-md-radios col-md-offset-4">
                    <div class="md-radio-inline">
                        <div class="md-radio">
                            <input type="radio" id="radio6" name="radio2" class="md-radiobtn" ng-model="opcion" value="montacargas" checked ng-click="cambiaTipo(1)">
                            <label for="radio6">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Montacargas</label>
                        </div>

                        <div class="md-radio">
                            <input type="radio" id="radio8" name="radio2" class="md-radiobtn" ng-model="opcion" value="contratos" ng-click="cambiaTipo(2)">
                            <label for="radio8">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Contratos </label>
                        </div>
                        <div class="md-radio">
                            <input type="radio" id="radio7" name="radio2" class="md-radiobtn" ng-model="opcion" value="proyectos" ng-click="cambiaTipo(3)">
                            <label for="radio7">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Proyectos </label>
                        </div>
                        <div class="md-radio">
                            <input type="radio" id="radio9" name="radio2" class="md-radiobtn" ng-model="opcion" value="modelos" ng-click="cambiaTipo(4)">
                            <label for="radio9">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Modelos </label>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="tab-content">
            <!--PRIMERA PESTAÑA-->
            <div class="tab-pane active" id="tab_1_1">
                <div class="tab-content">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Reportes Gastos y Rentabilidad {{opcion}}</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <!--MONTACARGAS-->
                                <div ng-show="opcion === 'montacargas'">
                                    <div class="row">
                                        <form class="form-horizontal" ng-submit="rep_mont(reporte)">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Contrato: </label>
                                                            <div class="col-md-9">
                                                                <ui-select ng-model="reporte_aux.contrato" theme="bootstrap">
                                                                    <ui-select-match placeholder="Seleccione el contrato">{{$select.selected.nombre}}</ui-select-match>
                                                                    <ui-select-choices repeat="contrato in listaContratos | filter:$select.search" ng-click="filtraProyectos(reporte_aux.contrato)">
                                                                        {{contrato.nombre}}
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Fechas: </label>
                                                            <div class="col-md-8">
                                                                <md-content>
                                                                    <md-datepicker ng-model="reporte.FechaInicial" md-placeholder="Desde"
                                                                                   md-min-date="minDate" md-max-date="maxDate" ng-required></md-datepicker>
                                                                    <md-datepicker ng-model="reporte.FechaFinal" md-placeholder="Hasta"
                                                                                   md-min-date="reporte.FechaInicial" md-max-date="maxDate" ng-required></md-datepicker>
                                                                </md-content>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Proyecto: </label>
                                                            <div class="col-md-9">
                                                                <ui-select ng-model="reporte_aux.proyecto" theme="bootstrap">
                                                                    <ui-select-match placeholder="Seleccione el proyecto">{{$select.selected.nombre}}</ui-select-match>
                                                                    <ui-select-choices repeat="proyecto in listaProyectos | filter:$select.search" ng-click="filtraEquipos(reporte_aux.proyecto)">
                                                                        {{proyecto.nombre}}
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Montacargas: </label>
                                                            <div class="col-md-9">
                                                                <ui-select multiple ng-model="reporte.montacargas" theme="bootstrap" name="montacargas">
                                                                    <ui-select-match placeholder="Seleccione el equipo">{{$item.numero_serie}}</ui-select-match>
                                                                    <ui-select-choices group-by="'marca'" repeat="montacargas in listaMontacargas | filter: {'numero_serie':$select.search}">
                                                                        <div ng-bind-html="montacargas.numero_serie | highlight: $select.search"></div>
                                                                        <small>
                                                                            Modelo: <span>{{montacargas.modelo}}</span>
                                                                        </small>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>                       
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button class="btn green col-md-offset-8 col-md-3 ">
                                                            Consultar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                                <br>
                                <!--PROYECTOS-->
                                <div ng-show="opcion === 'proyectos'"> <!--ESPACIO REPORTES POR PROYECTO-->
                                    <div class="row">
                                        <form class="form-horizontal" ng-submit="rep_mont(reporte)">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Contrato: </label>
                                                            <div class="col-md-9">
                                                                <ui-select ng-model="reporte_aux.contrato" theme="bootstrap">
                                                                    <ui-select-match placeholder="Seleccione el contrato">{{$select.selected.nombre}}</ui-select-match>
                                                                    <ui-select-choices repeat="contrato in listaContratos | filter:$select.search" ng-click="filtraProyectos(reporte_aux.contrato)">
                                                                        {{contrato.nombre}}
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Fechas: </label>
                                                            <div class="col-md-8">
                                                                <md-content>
                                                                    <md-datepicker ng-model="reporte.FechaInicial" md-placeholder="Desde"
                                                                                   md-min-date="minDate" md-max-date="maxDate" ng-required></md-datepicker>
                                                                    <md-datepicker ng-model="reporte.FechaFinal" md-placeholder="Hasta"
                                                                                   md-min-date="reporte.FechaInicial" md-max-date="maxDate" ng-required></md-datepicker>
                                                                </md-content>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Proyecto: </label>
                                                            <div class="col-md-9">
                                                                <ui-select multiple ng-model="reporte.proyectos" theme="bootstrap" name="proyectos">
                                                                    <ui-select-match placeholder="Seleccione el proyecto">{{$item.nombre}}</ui-select-match>
                                                                    <ui-select-choices repeat="proyecto in listaProyectos | filter:$select.search">
                                                                        <div ng-bind-html="proyecto.nombre | highlight: $select.search"></div>
                                                                        <small>
                                                                            Codigo: <span>{{proyecto.codigo}}</span>
                                                                        </small>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>                       
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button class="btn green col-md-offset-8 col-md-3 ">
                                                            Consultar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                                <!--CONTRATOS-->
                                <div ng-show="opcion === 'contratos'"> <!--ESPACIO REPORTES POR CONTRATO-->
                                    <div class="row">
                                        <form class="form-horizontal" ng-submit="rep_mont(reporte)">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Contrato: </label>
                                                            <div class="col-md-9">
                                                                <ui-select multiple ng-model="reporte.contratos" theme="bootstrap" name="contratos">
                                                                    <ui-select-match placeholder="Seleccione el contrato">{{$item.nombre}}</ui-select-match>
                                                                    <ui-select-choices repeat="contrato in listaContratos | filter:$select.search">
                                                                        {{contrato.nombre}}
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Fechas: </label>
                                                            <div class="col-md-8">
                                                                <md-content>
                                                                    <md-datepicker ng-model="reporte.FechaInicial" md-placeholder="Desde"
                                                                                   md-min-date="minDate" md-max-date="maxDate" ng-required></md-datepicker>
                                                                    <md-datepicker ng-model="reporte.FechaFinal" md-placeholder="Hasta"
                                                                                   md-min-date="reporte.FechaInicial" md-max-date="maxDate" ng-required></md-datepicker>
                                                                </md-content>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button class="btn green col-md-offset-8 col-md-3 ">
                                                            Consultar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <!--MODELOS-->
                                <div ng-show="opcion === 'modelos'"> <!--ESPACIO REPORTES POR MODELO-->
                                    <div class="row">
                                        <form class="form-horizontal" ng-submit="rep_mont(reporte)">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Modelos: </label>
                                                            <div class="col-md-9">
                                                                <ui-select multiple ng-model="reporte.modelos" theme="bootstrap" name="contratos">
                                                                    <ui-select-match placeholder="Seleccione el modelo">{{$item}}</ui-select-match>
                                                                    <ui-select-choices repeat="modelo in listaModelos | filter:$select.search">
                                                                        {{modelo}}
                                                                    </ui-select-choices>s
                                                                </ui-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Fechas: </label>
                                                            <div class="col-md-8">
                                                                <md-content>
                                                                    <md-datepicker ng-model="reporte.FechaInicial" md-placeholder="Desde"
                                                                                   md-min-date="minDate" md-max-date="maxDate" ng-required></md-datepicker>
                                                                    <md-datepicker ng-model="reporte.FechaFinal" md-placeholder="Hasta"
                                                                                   md-min-date="reporte.FechaInicial" md-max-date="maxDate" ng-required></md-datepicker>
                                                                </md-content>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button class="btn green col-md-offset-8 col-md-3 ">
                                                            Consultar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--TABLA-->
                            <div class="row" ng-show="tabla">
                                <table class='table table-hover'>
                                    <thead>
                                        <tr>
                                            <th ng-if='reporte_proy_con'>Codigo</th>
                                            <th ng-if='reporte_proy_con'>Nombre</th>
                                            <th ng-if='!reporte_proy_con'>Numero de serie</th>
                                            <th>Costo</th>
                                            <th>Rentabilidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="objeto in objetoTabla">
                                            <td>{{objeto.id}}</td>
                                            <th ng-if='reporte_proy_con'>{{objeto.nombre}}</th>
                                            <td>{{objeto.costo}}</td>
                                            <td>{{objeto.rentabilidad}}</td>
                                        </tr>
                                    </tbody>
                                </table>                               
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--SEGUNDA PESTAÑA-->
            <div class="tab-pane" id="tab_1_2">  
                <div class="tab-content">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Reportes Detallados por {{opcion}}</span>
                            </div>
                        </div>

                        <div class="portlet-body">
                            <!--REPORTES-->
                            <div class="row">
                                <!--ESPACIO REPORTES POR MONTACARGAS-->
                                <div ng-show="opcion === 'montacargas'">
                                    <div class="row">
                                        <form class="form-horizontal" ng-submit="rep_det(reporte_det)">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Contrato: </label>
                                                            <div class="col-md-9">
                                                                <ui-select ng-model="reporte_det_aux.contrato" theme="bootstrap">
                                                                    <ui-select-match placeholder="Seleccione el contrato">{{$select.selected.nombre}}</ui-select-match>
                                                                    <ui-select-choices repeat="contrato in listaContratos | filter:$select.search" ng-click="filtraProyectos(reporte_det_aux.contrato)">
                                                                        {{contrato.nombre}}
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Fechas: </label>
                                                            <div class="col-md-8">
                                                                <md-content>
                                                                    <md-datepicker ng-model="reporte_det.FechaInicial" md-placeholder="Desde"
                                                                                   md-min-date="minDate" md-max-date="maxDate" ng-required></md-datepicker>
                                                                    <md-datepicker ng-model="reporte_det.FechaFinal" md-placeholder="Hasta"
                                                                                   md-min-date="reporte_det.FechaInicial" md-max-date="maxDate" ng-required></md-datepicker>
                                                                </md-content>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Proyecto: </label>
                                                            <div class="col-md-9">
                                                                <ui-select ng-model="reporte_det_aux.proyecto" theme="bootstrap">
                                                                    <ui-select-match placeholder="Seleccione el proyecto">{{$select.selected.nombre}}</ui-select-match>
                                                                    <ui-select-choices repeat="proyecto in listaProyectos | filter:$select.search" ng-click="filtraEquipos(reporte_det_aux.proyecto)">
                                                                        {{proyecto.nombre}}
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Montacargas: </label>
                                                            <div class="col-md-9">
                                                                <ui-select ng-model="reporte_det.montacarga" theme="bootstrap">
                                                                    <ui-select-match placeholder="Seleccione el equipo">{{$select.selected.numero_serie}}</ui-select-match>
                                                                    <ui-select-choices repeat="montacargas in listaMontacargas | filter:$select.search">
                                                                        {{montacargas.numero_serie}}
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button class="btn green col-md-offset-8 col-md-3 ">
                                                            Consultar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                                <!--ESPACIO REPORTES POR PROYECTO-->
                                <div ng-show="opcion === 'proyectos'">
                                    <div class="row">
                                        <form class="form-horizontal" ng-submit="rep_det(reporte_det)">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Contrato: </label>
                                                            <div class="col-md-9">
                                                                <ui-select ng-model="reporte_det_aux.contrato" theme="bootstrap">
                                                                    <ui-select-match placeholder="Seleccione el contrato">{{$select.selected.nombre}}</ui-select-match>
                                                                    <ui-select-choices repeat="contrato in listaContratos | filter:$select.search" ng-click="filtraProyectos(reporte_det_aux.contrato)">
                                                                        {{contrato.nombre}}
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Fechas: </label>
                                                            <div class="col-md-8">
                                                                <md-content>
                                                                    <md-datepicker ng-model="reporte_det.FechaInicial" md-placeholder="Desde"
                                                                                   md-min-date="minDate" md-max-date="maxDate" ng-required></md-datepicker>
                                                                    <md-datepicker ng-model="reporte_det.FechaFinal" md-placeholder="Hasta"
                                                                                   md-min-date="reporte_det.FechaInicial" md-max-date="maxDate" ng-required></md-datepicker>
                                                                </md-content>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Proyecto: </label>
                                                            <div class="col-md-9">
                                                                <ui-select ng-model="reporte_det.proyecto" theme="bootstrap">
                                                                    <ui-select-match placeholder="Seleccione el proyecto">{{$select.selected.nombre}}</ui-select-match>
                                                                    <ui-select-choices repeat="proyecto in listaProyectos | filter:$select.search">
                                                                        {{proyecto.nombre}}
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button class="btn green col-md-offset-8 col-md-3 ">
                                                            Consultar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                                <!--ESPACIO REPORTES POR CONTRATO-->
                                <div ng-show="opcion === 'contratos'"> 
                                    <div class="row">
                                        <form class="form-horizontal" ng-submit="rep_det(reporte_det)">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Contrato: </label>
                                                            <div class="col-md-9">
                                                                <ui-select ng-model="reporte_det.contrato" theme="bootstrap">
                                                                    <ui-select-match placeholder="Seleccione el contrato">{{$select.selected.nombre}}</ui-select-match>
                                                                    <ui-select-choices repeat="contrato in listaContratos| filter:$select.search">
                                                                        {{contrato.nombre}}
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Fechas: </label>
                                                            <div class="col-md-8">
                                                                <md-content>
                                                                    <md-datepicker ng-model="reporte_det.FechaInicial" md-placeholder="Desde"
                                                                                   md-min-date="minDate" md-max-date="maxDate" ng-required></md-datepicker>
                                                                    <md-datepicker ng-model="reporte_det.FechaFinal" md-placeholder="Hasta"
                                                                                   md-min-date="reporte_det.FechaInicial" md-max-date="maxDate" ng-required></md-datepicker>
                                                                </md-content>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button class="btn green col-md-offset-8 col-md-3 ">
                                                            Consultar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <!--ESPACIO REPORTES POR MODELO-->
                                <div ng-show="opcion === 'modelos'"> 
                                    <div class="row">
                                        <form class="form-horizontal" ng-submit="rep_det(reporte_det)">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        
                                                        
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Modelo: </label>
                                                            <div class="col-md-9">
                                                                <ui-select ng-model="reporte_det.modelo" theme="bootstrap">
                                                                    <ui-select-match placeholder="Seleccione el contrato">{{$select.selected.nombre}}</ui-select-match>
                                                                    <ui-select-choices repeat="modelo in listaModelos | filter:$select.search">
                                                                        {{modelo}}
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Fechas: </label>
                                                            <div class="col-md-8">
                                                                <md-content>
                                                                    <md-datepicker ng-model="reporte_det.FechaInicial" md-placeholder="Desde"
                                                                                   md-min-date="minDate" md-max-date="maxDate" ng-required></md-datepicker>
                                                                    <md-datepicker ng-model="reporte_det.FechaFinal" md-placeholder="Hasta"
                                                                                   md-min-date="reporte_det.FechaInicial" md-max-date="maxDate" ng-required></md-datepicker>
                                                                </md-content>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">

                                                    </div>
                                                    <div class="col-md-6">
                                                        <button class="btn green col-md-offset-8 col-md-3 ">
                                                            Consultar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                            <br>
                            <br>
                            <!-REPORTE-->
                            <div class="row" ng-show="tabla">
                                <!--TABLA-->
                                <table class='table table-hover'>
                                    <thead>
                                        <tr>
                                            <th ng-if='reporte_proy_con'>Codigo</th>
                                            <th ng-if='!reporte_proy_con'>Numero de serie</th>
                                            <th>Insumo</th>
                                            <th>Monto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="objeto in objetoTabla">
                                            <td>{{objeto.montacargas}}</td>
                                            <td>{{objeto.costo}}</td>
                                            <td>{{objeto.monto}}</td>
                                        </tr>
                                    </tbody>
                                </table>                               

                            </div>



                        </div>
                    </div>
                </div>   
            </div>

        </div>
    </div>
</div>


<toaster-container toaster-options="
                   {'time-out':{ 'toast-warning': 10, 'toast-error': 0,'toast-success':8000},
                   'close-button': true,
                   'position-class': 'toast-top-right' ,'hideEasing': 'linear' }">

</toaster-container>